* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: yellow !important;
}

form {
  margin: 30px auto;
  width: fit-content;
}

.form-btn {
  width: fit-content;
  margin: 10px auto;
}

.form-btn button {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: darkgreen;
  color: white;
  border: none;
}

.form-btn button:hover {
  transform: scale(1.1);
}
